@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

.clearfix::after {
  content: "";
  display: table-caption;
  clear: both;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
}

/* HEADINGS */
h1 {
  font-size: 65px;
  font-weight: 600;
  color: #ffffff;
}
h2 {
  color: #031b4e;
  font-weight: 600;
  text-align: center;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  color: #031b4e;
}
h6 {
  font-size: 16px;
  color: white;
  font-weight: 400;
}

/* FONTSIZE P */
.p_small{
  font-size: 16px;
}
.p_medium {
  font-size: 20px;
}
.p_large {
  font-size: 24px;
}
p {
  color: #5b6987;
}


/* BACKGROUND-COLORS */

.bg_gray {
  background-color: #F2F5F9;
}
.bg_white {
  background-color: #ffffff;
}
.bg_dark_blue {
  background-color: #010F28;
}

/* BUTTONS */

.btn_white_text_blue {
  color: #006AFF;
  font-weight: bold;
  background-color: #ffffff;
  border-color: #006AFF;
}
.btn_white_text_blue:hover {
  color: #ffffff;
  background-color: #006AFF;
  transition: 0.4s ease-in-out;
}

/* LINK-SECTIONS */

.link_blue {
  font-size: 18px;
  text-decoration: none;
  color: #0069ff;
}
.link_blue:hover {
  color: #1633ff;
  text-decoration: none;
}
.fa-chevron-right {
  font-size: 12px;
  padding-left: 5px;
}

/* HEADER-TOP */

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header_top nav {
  height: 60px;
  line-height: 60px;
}

nav [class*="col-"] {
  vertical-align: middle;
}

.header_top .img_wrapper_logo img {
  max-width: 140px;
}

.nav_center i,
.nav_right i {
  padding-left: 2px;
}

nav.container a {
  color: hsl(221,93%,16%);
  text-decoration: none;
}
nav.container a:hover {
  color: #006AFF;
}

.burger_icon_wrapper {
  color: #006AFF;
  font-size: 20px;
}

/* HEADER-BOTTOM */

.header_bottom {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  padding: 50px 0px;
}

.jumbotron-text p {
  padding: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.48);
}

.white_box {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto;
}

.form_wrapper {
  padding: 20px;
}
.form_wrapper h3 {
  font-size: 30px;
  font-weight: 500;
  color: #031b4e;
}
.form_wrapper h3 span {
  color: #006AFF;
}
.form-group input {
  /* border: 1px solid red; */
  box-shadow: none;
  outline: #006AFF;
  padding: 20px;
}
::placeholder {
  font-weight: bold;
}

.form_wrapper button {
  position: relative;
  width: 100%;
  margin: 3px;
}
.form_wrapper button img {
  position: absolute;
  left: 0;
  max-width: 25px;
  padding-left: 5px;
}

.form_wrapper > p {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form_wrapper a {
  text-decoration: underline;
}

/* COSTUMERS*/

.costumer_logos {
  padding: 60px 20px;
}

.costumer_logos .row > p {
  font-size: 15px;
  font-weight: bold;
}

.logos_wrapper {
  padding: 25px 0;
}
.logos_wrapper ul {
  font-size: 0px;
}
.logos_wrapper li {
  width: calc(100% / 6);
}
.logos_wrapper img {
  max-width: 100%;
}

/* DEPLOY / SCALE */

.deploy_scale {
  padding: 50px 0;
}
.deploy_scale .row > div:first-child {
  padding: 30px 20px;
}
.border_blue {
  border-left: 2px solid lightgray;
  padding: 15px 20px;
  font-size: 16px;
}
.border_blue:hover {
  border-left: 2px solid blue;
  cursor: pointer;
}

.boxes_deploy {
  width: 50%;
  float: left;
  padding: 10px;
}

/* DESIGN */

.designed_developers {
  padding: 50px 0;
}

.designed_developers [class="col-xs-12"] {
  padding-top: 40px;
}

.designed_developers a,
.designed_developers .wrapper_img_carousel {
  display: inline-block;
}

.designed_developers a {
  width: 24%;
  text-align: center;
}
.designed_developers a i {
  font-size: 40px;
  color: #031b4e;
}

.wrapper_img_carousel {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.wrapper_img_carousel img {
  width: 100%;
}
.wrapper_img_carousel p {
  padding-top: 20px;
  font-weight: bold;
  color: #031b4e;
}

.carousel_point_page {
  height: 20px;
  width: 100%;
}
.point_blue {
  display: inline-block;
  width: 10px;
  height: 50%;
  border: 1px solid blue;
  border-radius: 100%;
}
.point_blue:first-child {
  background: blue;
}
.point_blue:hover {
  cursor: pointer;
}

/* FEATURES */

.features {
  padding: 50px 0;
}

.boxes_features {
  width: 33.33%;
  float: left;
  padding: 40px 20px;
}

/* SERVICES */

.service_regions {
  padding: 50px 0;
  background: url("https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg") 50% 50% / cover no-repeat rgb(3, 27, 78);
}

.service_regions h2 {
  color: white;
}

.regions_box {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.regions_box:last-child {
  border-bottom: none;
}

.regions_code {
  float: left;
  width: 20%;
  color: white;
  font-weight: 400;
}
.region {
  float: left;
  width: 60%;
}
.regions_test {
  float: left;
  width: 20%;
}
.regions_test a {
  color: rgb(0, 215, 210);
  text-decoration: none;
}
.regions_test a:hover {
  color: blue;
}

/* DEVELOPMENTS */

.development_teams > .container > .row > [class="col-xs-12"] {
  padding-top: 30px;
}

.development_teams {
  padding: 50px 0;
}

.development_teams a {
  width: 9%;
  display: inline-block;
  text-align: center;
}
.development_teams a i {
  font-size: 40px;
  color: #031b4e;
}

.development_teams .wrapper_box_carousel {
  width: 80%;
  vertical-align: middle;
  display: inline-block;

}

.box_wrapper_img {
  padding-top: 20px;
}

.box_wrapper_img img {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.wrapper_box_carousel p {
  padding: 30px 0;
}

.box_carousel {
  background: white;
  box-shadow: 0px 2px 4px rgba(1,14,40,0.05);
  border-radius: 5px;
  margin-bottom: 20px;
}

.box_carousel p:first-of-type {
  padding: 30px 20px;
}

/* CTA */

.CTA {
  background-image: url("../img/bg-home-cta.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CTA [class*="col-xs-12"] {
  padding: 50px 0;
  font-size: 30px;
}

.CTA p {
  color: #ffffff;
  font-weight: 600;
}


/* FOOTER */
.wrapper_footer {
  padding: 50px 0;
}

footer [class*="col-xs-12"] {
  background-color: #010F28;
}
footer [class*="col-xs-12"] img,
footer [class*="col-xs-12"] p {
  padding: 10px 0;
}
footer [class*="col-xs-12"] i {
  font-size: 25px;
}
footer [class*="col-xs-12"] li {
  padding: 5px;
}
footer [class*="col-xs-12"] a {
  color: #5b6987;
}
footer [class*="col-xs-12"] a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* HELPER */

.wrapper_helper {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 750px;
  height: 150px;
  z-index: 1;
}

.wrapper_helper [class*="col-lg-6"]:first-child {
  position: relative;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2),
             -5px -5px 10px rgba(0, 0, 0, 0.2);
}
.square {
  position: absolute;
  right: -5px;
  top: 40%;
  transform: translateY(-40%);
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: white;
}

.wrapper_helper [class*="col-lg-6"]:last-child img {
  max-width: 100px;
  background-color: rgba(#0061ff, 0.28);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2),
             -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper_helper [class*="col-lg-6"]:last-child img:hover {
  cursor: pointer;
}

/* MD */

@media screen and (min-width: 768px) and (max-width: 1199px) {

  /* HEADER TOP */

  h1 {
    font-size: 52px;
    font-weight: 500;
    color: #ffffff;
  }

  /* DEPLOY / SCALE */

  .boxes_deploy {
    width: 50%;
    float: left;
    padding: 10px;
  }

  /* HELPER */

  .wrapper_helper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 750px;
    height: 150px;
    z-index: 1;
  }
}

/* XS */

@media screen and (max-width: 991px) {

  /* HEADER TOP */

  h1 {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
  }

  /* HEADER BOTTOM */

  .header_bottom {
    margin-top: 100px;
  }


  /* COSTUMERS */

  .logos_wrapper ul {
    font-size: 0px;
  }
  .logos_wrapper li {
    width: calc(100% / 2);
  }
  .logos_wrapper img {
    max-width: 100%;
  }


  /* DEPLOY / SCALE */

  .boxes_deploy {
    width: 100%;
  }

  .boxes_deploy p {
    font-size: 16px;
  }

  /* FEATURES */

  .boxes_features {
    width: 100%;
    float: none;
    padding: 10px 20px;
  }

  /* SERVICES */

  .service_regions {
    font-size: 10px;
  }

  /* CTA */

  .CTA {
    text-align: center;
  }

  .btn_CTA {
    text-align: center;
  }
}
